---
layout: 'layouts/minimal.html'
templateClass: 'grid-book'
---


<main>
<section class="grid-book">

<h1 class="title-line-1">Making</h1>
<h1 class="title-line-2">and <em>Break</em></h1>
<h1 class="title-line-3"><em>ing</em> the</h1>
<h1 class="title-line-4"> <span id="grid-word">Grid</span></h1>

<div class="edition-info">
<h2 class="edition-line-1">Second Edition</h2>
<h2 class="edition-line-2">Updated and Expanded</h2>
</div>
<h2 class="author">Timothy Samara</h2>
<h2 class="subtitle">A Graphic Design Layout Workshop</h2>

<div class="grid-book-square">
    <svg width="90%" height="90%" viewBox="0 0 100 100">
        <rect x="0" width="100" height="100" fill="currentcolor"></rect>
</div>

<div class="bg-pattern">
<svg width="100%" height="100%" viewBox="0 0 300 320">
<defs>
<pattern id="Pattern" x="0" y="0" width=".1" height=".1">
<path d="M3.92578 3.42383H6.30469V4.44922H3.92578V7.14453H2.83594V4.44922H0.457031V3.42383H2.83594V0.933594H3.92578V3.42383Z" fill="black" opacity="0.33" stroke-width="1"/>
</pattern>
</defs>
<rect fill="url(#Pattern)" width="320" height="360"/>
</svg>
</div>

</section>
</main>