---
layout: base
---

<main class="indent">
    <h2> {{ title }} </h2>
    <span class="date-posted">
        Posted on
    <time datetime="{{ date | w3DateFilter }}">
        {{ date | dateFilterShort }}
    </time>
    </span>

{% if updated %}
    <span class="date-updated">
        | Updated on

    <time class="updated-note" datetime="{{ updated | w3DateFilter }}">
        {{ updated | dateFilterShort }}
    </time>
    </span>
{% endif %}


{% if tags %}
<p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
<ul class="tags-list" aria-describedby="tags-desc">
    {% for tag in tags %}
    <li>
        <a href="/tag/{{ tag | slug }}/">{{ tag | title | replace(' ', '') }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<article class="individual-post">
    {{ content | safe }}
</article>

</main>
