---
layout: 'layouts/minimal.html'
templateClass: 'raster'
---

<main>
<section class="raster">

<h2 class="raster-author"> Josef Müller-Brockmann </h2>

<h1 class="raster-title-en"> Grid systems </h1>
<h2 class="raster-subtitle-en"> in graphic design</h2>
<h3 class="raster-details-en"> 
A visual communication manual for graphic designers, typographical and three dimensional designers. 
</h3>


<h1 class="raster-title-de"> Raster systeme </h1>
<h2 class="raster-subtitle-de"> für die <br/> Visuelle Gestaltung</h2>
<h3 class="raster-details-de"> 
Ein Handbuch für Grafiker, Typografen und Ausstellunggestalter.
</h3>

<h2 class="raster-publisher"> Niggli </h2>

<!-- generating grid lines -->
{% for i in range(1,25) %}
<div class="raster-grid-line raster-grid-line-{{i}}">
    <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <rect width="100" height="100" fill="currentcolor"></rect>
    </svg>
</div>
{% endfor %}


</section>
</main>