@use "utils" as u;

/* Book cover, slightly adapted from
https://www.taschen.com/pages/en/catalogue/architecture/all/43440/facts.bauhaus_updated_edition.htm

*/

body.bauhaus {
  height: 100%;
  background: whitesmoke;
  color: black;
}

main section.bauhaus {
  @include u.box-shadows;
  margin: 0vh 28vw;
  height: 100vh;
  //width: 60vw;
  display: grid; // 7 columns, 8 rows
  grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 40px;
  gap: 1px;

  @include u.mobile {
      margin: 0vh 4vw;
      height: 130vw; // 560px;
  }

  @include u.tablet {
      margin: 0vh 4vw;
      height: 80vh;
  }



  .book-header {
      line-height: 1;
      padding-top: 1rem;
  }
  .book-header h1 {
      font-size: 5.55vw;
      font-weight: bold;
      padding-top: 2vw;

      @include u.mobile { 
        font-size: 11vw;
        padding-top: 2vw;
      }
      @include u.tablet { 
        font-size: 11.6vw;
        padding-top: 2vw;
      }
  }
  .book-header h2 {
      font-size: 1.1vw;
      font-weight: 700;
      display: inline-block;

      @include u.mobile { 
        font-size: 2vw;
        font-weight: 700;
      }
      @include u.tablet { 
        font-size: 2.2vw;
        font-weight: 700;
      }

  }

  .book-header #b-archiv {
      padding-right: 1rem;
  }
  .book-header h1, .book-header .subtitle {
      float: right;
  }

    .date h3 {
      font-size: 1.4vw;

      @include u.mobile {
          font-size: 1.8vw;
      }

      @include u.tablet {
          font-size: 2.2vw;
      }


  }

   // animate: pulse effect defined in utils.scss
   .taschen {
     animation: pulse 1s linear 3;

      @include u.mobile {
          font-size: 1.8vw;
      }

      @include u.tablet {
          font-size: 2.2vw;
      }

   }

}

// grid items

.bauhaus .book-header {
    grid-row: 1 / 2;
    grid-column: 3 / 7;
}

.bauhaus .rect1 {
    grid-row: 1 / 7;
    grid-column: 2;
    background-color: u.$blue;
}

.bauhaus .rect2 {
    grid-row: 3;
    grid-column: 3 / 7;
    background-color: u.$yellow;
}

.bauhaus .rect3 {
    grid-row: 7;
    grid-column: 2 / 6;
    background-color: u.$grey;
}

.bauhaus .rect4 {
    grid-row: 4 / 8;
    grid-column: 6;
    background-color: u.$red;
}

.bauhaus .rect5 {
    grid-row: 4 / 7;
    grid-column: 3 / 6;
    background-color: u.$black;
}

.bauhaus .taschen {
    grid-row: 8;
    grid-column: 4 / 5;
    justify-self: center;
    font-weight: bold;
    padding-top: 6%;
    color: u.$black;
}

.bauhaus .date {
    grid-row: 6;
    grid-column: 4;
    justify-self: center;
    color: hsla(0,0%,100%, 0.82);

}

// colour themes (controlling the colours of the rectangles)
@include u.colour-theme("one", u.$original-colours);
@include u.colour-theme("two", u.$blue-shades);
@include u.colour-theme("three", u.$red-shades);
@include u.colour-theme("four", u.$grey-shades);