@import 'reset';


/* variables: colours etc */

$font-light-theme: #212121;
$nav-font-light-theme: #3E2723;
$nav-font-light-theme-visited: #5D4037;
$background-light-theme: #F5F5F5;

$background-triangles-color: #553730;

$font-dark-theme: #F5F5F5;
$background-dark-theme: #4E342E; // #424242;

// font sizes

@mixin small-font {
    font-size: 1rem;
    font-size: min(max(.6rem,4vw),0.8rem);
}

@mixin normal-font {
    font-size: 1.35rem;
    font-size: min(max(1.2rem, 6vw), 28px);
}

@mixin heading-font {
    font-size: 2rem;
    font-size: min(max(1.4rem, 8vw), 2rem);
}

// filters for switching svg color produced with
// https://codepen.io/sosuke/pen/Pjoqqp Cheers!

@mixin hover-color {
    filter: invert(81%) sepia(78%) saturate(1388%)
                  hue-rotate(299deg) brightness(99%) contrast(115%);

}

@mixin bg-img-toggle {
    filter: invert(100%) sepia(0%) saturate(7500%)
                  hue-rotate(318deg) brightness(107%) contrast(103%);
}

@mixin bg-img-black {
    background-image:
        url("images/landing-frame-black.svg");
    //background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 120% 120%; /* cover the entire container */
    width: 100%;
    height: auto;
}

@mixin bg-img-white {
    background-image:
        url("images/landing-frame-white.svg");
    //background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 110% 110%; /* cover, contain, 50% 50% */
    width: 100%;
    height: auto;
}

@mixin bg-img-triang-light {
    background-image:
        url("../../images/bg-triangles-brown.svg");
    //background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* cover the entire container */
    background-blend-mode: overlay; // overlay, lighten;
}

@mixin bg-img-triang-dark {
    background-image:
        url("../../images/bg-triangles-brown-1.svg");
    //background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* cover the entire container */
    background-blend-mode: normal; // overlay, lighten;
}


// tag styling
@mixin tag-list-itmes($bg-color, $text-color) {
    display: inline-block;
    @include small-font;
    a { 
        text-decoration: none;
        padding: 0.1rem 0.2rem;
        border: 0.1rem solid $bg-color;
        border-radius: 0.2rem;
    }
    a:hover, a:focus {
    background-color: $bg-color;
    color: $text-color;
    }
}


// source: https://projects.verou.me/css3patterns/#half-rombes
.triangle-pattern {
    background: hsla(14,100%,63%, 0.15);
    background:
        linear-gradient(115deg,transparent 75%,rgba(255,255,255,.8) 75%) 0 0,
        linear-gradient(245deg,transparent 75%,rgba(255,255,255,.8) 75%) 0 0,
        linear-gradient(115deg,transparent 75%,rgba(255,255,255,.8) 75%) 7px -15px,
        linear-gradient(245deg, transparent 75%,rgba(255,255,255,.8) 75%) 7px -15px,
        hsla(14,100%,63%, 0.15);
    background-size: 15px 30px;

}


.visually-hidden {
    //visibility: hidden;
    display: none;
}

html {
    @include normal-font;
    opacity: 0.87;
}

// headings
h1, h2, h3, h4 {
    color: #E53935; // #FF5722;
    opacity: 0.85;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    line-height: 120%;
}


// font size
h2 {
    @include heading-font;
}

blockquote {
    //padding-left: 0.8rem;
    //padding-right: 1.4rem;
    padding: 0rem 1rem;
    border-left: 0.3rem solid #ffa98fa6;
    font-weight: 300;
}

// tags
ul.tags-list li {

@include tag-list-itmes(#ffa98fa6, #3E2723);

}

// lists
ul.list {
    list-style-type: "▱  ";
    margin-bottom: 1rem;
}

// footnotes
ol.footnotes-list {
    list-style-type: decimal;
}

.footnotes-sep {
    color: #E53935; // #FF5722;
    opacity: 0.85;
}

div.intro-photo { 
    width: 25vw; 
    height: auto;
    img { border-radius: 0.4rem; }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $background-light-theme;
    //@include bg-img-triang-light;
    //@include bg-img-black;
    @include bg-img-triang-light;
    footer {
        background-color: #D7CCC8;
        opacity: 0.85;
        h1, h2, h3, h4 {
            color: #F44336; // #FF7043;
        }
        .cta {
            padding-top: 1rem;
        }
    }
}

// ul.note-list, ul.paper-list, ul.course-list, dl.software
.list {
    //line-height: 1.85;
    //line-height: min(max(1.5, 6vw), 1.85);
    li {
        padding-top: 0.4rem;
        padding-bottom: 0.2rem;
    }
    a {
        text-decoration: none;
    }
    time {
        @include small-font;
    }
}

// Light-mode links
a:link, button {
    color: $nav-font-light-theme;
}

a:visited {
    color: $nav-font-light-theme-visited;
}
a:hover, a:focus {
    color: #BF360C;
}
.header-nav a:hover, .header-nav a:focus {
    color: #BF360C;
    font-weight: 500;
}
a:active {
    color: #BF360C;
}


// Dark-mode styles
.dark-theme {
    // font and background colours
    color: $font-dark-theme;
    opacity: 0.87;
    background-color: $background-dark-theme;
    //@include bg-img-white;
    //background-blend-mode: overlay; // lighten;
    @include bg-img-triang-dark;
    //background-blend-mode: normal; // lighten;

    h1, h2, h3, h4 {
        color: #FF8A65; // #FF8A80;
    }

    // icons and buttons in dark mode

    .dark-mode-filter {
        filter: invert(99%) sepia(54%) saturate(41%)
                hue-rotate(245deg) brightness(112%) contrast(92%);
    }
    .logo-ellipse {
        fill: $background-triangles-color;
}
    .clr-theme-btn {
        color: $font-dark-theme;
        background: $background-triangles-color;
        font-weight: bold;
    }

    #landing-message {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(337deg) brightness(101%) contrast(104%);
    }

    .dark-mode-filter:not(.logo):hover,
    .dark-mode-filter:not(.logo):focus {
        @include  hover-color;
    }

    // links in dark mode
    a:link {
        color: white;
    }

    a:visited {
        color: #FFEBEE;
    }
    a:hover, a:focus {
        color: #FFAB91;
    }
    .header-nav a:hover, .header-nav a:focus {
        color: #FFAB91;
        font-weight: 500;
}
    a:active {
        color: #E53935;
    }

    footer {
        background-color: #212121;
    }


}




/* header nav */

ul {
    list-style: none;
    margin-top: 0rem;
    padding-top: 0.5rem;
}

header nav a, header nav button {
    font-family: 'Fira Code', monospace;
    text-decoration:none;
    font-weight: 400;
    @include small-font;
    opacity: 0.85;
    //padding: 0.2rem;

}

header a, header nav {
    display: inline-block;
}

nav > ul li {
    display: inline-block;
}

/* Landing message */
#landing-message {
    width:100%;
    height:auto;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

article.individual-post p {
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
}
article.individual-post {
    h1, h2, h3, h4 {
        padding-top: 0.6rem;
        padding-bottom: 0.4rem;
    }
}

/* Layout */

body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  //grid-auto-rows: 10% 60% 30%;
  grid-template-areas:
    "h h h h h h h h h"
    "m m m m m m m m m"
    "m m m m m m m m m"
    "f f f f f f f f f";
}

header {
    grid-area: h;
}

/* logos & buttons */

.logo {
    padding-top: 0.4rem;
    opacity: 0.85;
    width: 5vw;
    height: auto;
}

button {
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 1.2rem;
    height: 1.2rem;

}

nav.header-nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem;
    li {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    li:first-child {
        //margin-right: auto;
        min-width: 20vw;
        min-width: min(max(10vw, 2rem), 24vw);
        //padding-left: 0.2rem;
    }
    li:last-child {
        margin-left: 10vw;
        //margin-left: auto;
    }

}


main {
    grid-area: m;
}

footer {
    grid-area: f;
    //background-color: grey;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo {
        //padding-top: 0.8rem;
        //opacity: 0.85;
        width: 8vw;
        height: auto;
}
    main, footer {
        padding-left: 10vw;
        padding-right: 2vw;
    }
    nav.header-nav li:last-child {
        margin-left: 0rem;
        //margin-left: auto;
    }
   // nav.header-nav a:link {
   //     font-size: 1.1rem;
   // }
    li.invisible-nav-item {
        display: none;
    }
    li button#toggle-btn {
        //padding-left: 1rem;
    }
    ol.footnotes-list {
        padding-left: 1rem;
        list-style-position: outside;
}
    div.intro-photo { 
        width: 60vw; 
        height: auto;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main, footer {
        padding-left: 4vw;
        padding-right: 2vw;
    }
    body {
        grid-auto-rows: minmax(200px, auto);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main, footer {
        padding-left: 6vw;
        padding-right: 12vw;
    }
    nav.header-nav ul {

        li:first-child {
            //margin-right: auto;
            min-width: 15vw;
            //padding-left: 0.2rem;
        }

        li:last-child {
            margin-left: 2vw;
            //margin-left: auto;
        }
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .list {
        line-height: 1.85;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main, footer {
        padding-left: 20vw;
        padding-right: 24vw;
    }
    nav.header-nav ul {

        li:first-child {
            //margin-right: auto;
            min-width: 20vw;
            //padding-left: 0.2rem;
        }

        li:last-child {
            margin-left: 10vw;
            //margin-left: auto;
        }
    }


}
