/* variables: colours etc */
$font-light-theme: hsla(0,0%,12.9%,0.87); // #212121;
$nav-font-light-theme: hsla(8.9,27.8%,19%,0.87); // #3E2723;
$nav-font-light-theme-visited: hsla(14.2,25.7%,29%,0.87); // #5D4037;
$background-light-theme: #F5F5F5; // hsla(0,0%,96.1%, 0.99)

$brown-aux: hsla(8.9,27.8%,19%,0.87); // #3E2723; // = $nav-font-light-theme

$headings-light: hsla(1.4,77.2%,55.3%, 0.87); //#E53935;
$footer-headings: hsla(4.1,89.6%,58.4%, 0.87); // #F44336;
$orange-aux: hsla(13.9,100%,78%, 0.87); // #ffa98fa6
$orange-brown-aux: hsla(14.1,88.2%,39.8%, 0.7); // #BF360C;

$footer-background: hsla(16,15.8%,81.4%, 1); // #D7CCC8;

// font sizes
@mixin small-font($min: 0.6rem, $max: 16px) {
    font-size: 1rem;
    font-size: min(max($min,4vw), $max);
}

@mixin normal-font {
    font-size: 1.35rem;
    font-size: min(max(1.2rem, 6vw), 28px);
}

@mixin heading-font {
    font-size: 2rem;
    font-size: min(max(1.4rem, 8vw), 2rem);
}

// background image
@mixin bg-img-triang-light {
    background-image:
        url("../../images/bg-triangles-brown.svg");
    //background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* cover the entire container */
    background-blend-mode: overlay; // overlay, lighten;
}


// tag styling
@mixin tag-list-itmes($bg-color, $text-color) {
    display: inline-block;
    @include small-font;
    a { 
        text-decoration: none;
        padding: 0.1rem 0.2rem;
        border: 0.1rem solid $bg-color;
        border-radius: 0.2rem;
    }
    a:hover, a:focus {
    background-color: $bg-color;
    color: $text-color;
    }
}

html {
    @include normal-font;
    scrollbar-color: $orange-brown-aux #c2c5cc;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: $font-light-theme;
    background-color: $background-light-theme;
    @include bg-img-triang-light;
    footer {
        background-color: $footer-background;
        opacity: 0.85;
        h1, h2, h3, h4 {
            color: $footer-headings;
        }
    }
}

.region {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.visually-hidden {
    //visibility: hidden;
    display: none;
}


// headings
h1, h2, h3, h4 {
    color: $headings-light;
    opacity: 0.85;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    line-height: 1.3;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    @include heading-font;
}

span.date-updated, span.date-posted, span.summary {
    font-weight: 300;
}

.date-updated, .date-posted {
    @include small-font;
}

blockquote {
    padding: 0rem 1rem;
    border-left: 0.3rem solid $orange-aux;
    font-weight: 300;
}

// tags
ul.tags-list li {

@include tag-list-itmes($orange-aux, $brown-aux);

}

// lists
ul.list {
    //list-style-type: "▱  ";
    list-style: none;
    margin-bottom: 1rem;

    li::before {
        content: "▱"; 
        color: $orange-brown-aux;
        margin-left: -1rem;
    }

}

// footnotes
ol.footnotes-list {
    list-style-type: decimal;
}

.footnotes-sep {
    color: $headings-light;
    opacity: 0.7;
}

div.intro-photo { 
    width: 25vw; 
    height: auto;
    img { border-radius: 0.4rem; }
}


// ul.note-list, ul.paper-list, ul.course-list, dl.software
.list {
    li {
        padding-top: 0.4rem;
        padding-bottom: 0.2rem;
    }
    a {
        text-decoration: none;
    }
    time {
        @include small-font($min: 0.8rem, $max: 20px);
    }
}

// Light-mode links
a:link, button {
    color: $nav-font-light-theme;
    font-weight: 500;
}

a:visited {
    color: $nav-font-light-theme-visited;
}
a:hover, a:focus {
    color: $orange-brown-aux;
}
.header-nav a:hover, .header-nav a:focus {
    color: $orange-brown-aux;
    font-weight: 700;
}
a:active {
    color: $orange-brown-aux;
}




/* header nav */

ul {
    list-style: none;
    margin-top: 0rem;
    padding-top: 0.5rem;
}

header nav {
    @include small-font;
}

header nav a, header nav button {
    font-family: 'Fira Code', monospace;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.85;

}


/* Landing message */
#landing-message {
    width:100%;
    height:auto;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

// post (or note) styling
article.individual-post p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* logos & buttons */

.logo {
    padding-top: 0.4rem;
    opacity: 0.85;
    width: 6vw;
    height: auto;
}

button {
    border: none;
    background: transparent;

}

// colophon section 
section.colophon {
    h2.colophon-title { 
        color:  hsla(0,0%,96.1%, 0.40);
        font-weight: 700;
        line-height: 1.1;
        @include heading-font;
    }
    background-color: $orange-brown-aux;
    @include small-font;
    color:  hsla(0,0%,96.1%, 0.87);
    padding-bottom: 1rem;

    ul.colophon-list {
        li:nth-child(1) {
        list-style-type: "Ⓕ ";
        }
        li:nth-child(2) {
        list-style-type: "⚙ ";
        }
        li:nth-child(3) {
        list-style-type: "✏ ";
        }
        li:nth-child(4) {
        list-style-type: "ⓘ ";
        }
        li {
        margin-left: 0.75rem;
        }
        a {
            color:  hsla(0,0%,96.1%, 0.85);
        }
    }   
}

footer, section.colophon {
    // offset-x | offset-y | blur-radius | color
    box-shadow: 0px -1px 3px hsla(14.1,88.2%,12.8%, 0.4); // rgba(0, 0, 0, 0.2);
    z-index: 9;
}