<section class="colophon">
    <h2 class="colophon-title region">Colophon</h2>
    <ul class="colophon-list"> 
        <li>Fonts: <a href="https://fonts.google.com/specimen/Fira+Code">Fira Code</a>
        and <a href="https://fonts.google.com/specimen/Source+Sans+Pro">Source Sans Pro</a>. </li>
        <li>Build with <a href="https://www.11ty.dev/">Eleventy</a>, served
        by <a href="https://www.netlify.com/">Netlify</a>.</li>
        <li>Drawn with 
        <a href="https://inkscape.org/">Inkscape</a> and <a href="https://www.figma.com/">Figma</a>.</li>
        <li>Course: <a href="https://learneleventyfromscratch.com/">Learn Eleventy 
        from Scratch</a>.</li>  
    </ul>
</section>
